{% extends "base.html" %}

{% block title %}
{{account.name}} - OpenTracks
{% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/nym/{{account.nym.id}}">{{account.nym.name}}</a></li>
	<li class="active">{{account.name}}</li>
</ol>

<div class="row">
	<div class="col-md-6">
		<h1 class="no-margin">
			<button class="btn btn-default btn-refresh" data-account="{{account.id}}" title="Refresh">
				<i class="fa fa-refresh"></i>
			</button>
			{{account.name}}
		</h1>
	</div>
	<div class="col-md-6 clearfix">		
		<span class="account-balance label label-success pull-right">
			{{account.formattedBalance}}
		</span>
	</div>
</div>

<div class="row account-info">	
	<dl class="asset-info col-md-4 dl-horizontal">
		<dt></dt>
		<dd><h5>Asset</h5></dd>
		<div class="text-muted">
			<dt>
				<button class="btn btn-xs copy-clipboard" data-clipboard="{{account.asset.id}}">
					<i class="fa fa-clipboard"></i>
				</button> Id
			</dt>
			<dd id="asset-id">{{account.asset.id}}</dd>
			<dt>Name</dt>
			<dd>{{account.asset.name}}</dd>
		</div>
	</dl>
	<dl class="nym-info col-md-4 dl-horizontal">
		<dt></dt>
		<dd><h5>Nym</h5></dd>
		<div class="text-muted">
			<dt>
				<button class="btn btn-xs copy-clipboard" data-clipboard="{{account.nym.id}}">
					<i class="fa fa-clipboard"></i>
				</button> Id</dt>
			<dd id="nym-id">{{account.nym.id}}</dd>
			<dt>Name</dt>
			<dd>{{account.nym.name}}</dd>
		</div>
	</dl>
	<dl class="server-info col-md-4 dl-horizontal">
		<dt></dt>
		<dd><h5>Server</h5></dd>
		<div class="text-muted">
			<dt>
				<button class="btn btn-xs copy-clipboard" data-clipboard="{{account.server.id}}">
					<i class="fa fa-clipboard"></i>
				</button> Id</dt>
			<dd id="server-id">{{account.server.id}}</dd>
			<dt>Name</dt>
			<dd>{{account.server.name}}</dd>
		</div>
	</dl>
</div>
<div class="row transaction-container">
	<div class="col-md-offset-3 col-md-6">
		<a href="/account/{{account.id}}/transaction" class="btn btn-block btn-primary btn-start-new-payment">
			<i class="fa fa-retweet"></i> Start New Transaction
		</a>
	</div>
</div>
<div class="row">	
	<div class="col-md-12">
		{% include "account/inbox.html" %}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{% include "account/outbox.html" %}
	</div>
</div>
{% endblock %}