<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-long-arrow-down"></i> Inbox</h3>
	</div>
	{% if inbox.inbox|length < 1 %}
	<div class="panel-body">
		Empty inbox.
	</div>
	{% else %}
	<div class="table-responsive">
		<table class="table table-box">
			<thead>
				<tr>
					<th></th>
					<th class="index">Index</th>
					<th class="from-to">From</th>
					<th class="transaction-id">Transaction Id</th>
					<th class="ref">Ref</th>
					<th class="amount">Amount</th>
					<th class="status">Status</th>
					<th class="action">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for payment in inbox.inbox %}
				<tr id="inbox-{{payment.index}}">
					<td>
						<input class="outbox-selected" type="checkbox" value="{{payment.index}}"/>
					</td>
					<td><span class="badge">{{payment.index}}</span></td>
					<td>{{payment.from.accountId}} ({{payment.from.id}})</td>
					<td>{{payment.transactionId}}</td>
					<td>{{payment.ref}}</td>
					<td>{{payment.formattedAmount}} ({{payment.amount}})</td>
					<td>{{payment.status}}</td>
					<td>
						<div class="btn-group">
						<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
								Action <i class="glyphicon glyphicon-transfer"></i>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#" class="action-accept" data-index="{{payment.index}}" data-account="{{account.id}}">Accept</a></li>
								<li><a href="#">Discard</a></li>
							</ul>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr class="active">
					<td>
						<input class="outbox-select-all" type="checkbox"/>
					</td>
					<td colspan="2">
						Select all
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<div class="btn-group">
						<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
								Action <span class="glyphicon glyphicon-transfer"></span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Dropdown link</a></li>
								<li class="divider"></li>
								<li><a href="#">Dropdown link</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	{% endif %}
</div>