{% extends "base.html" %}

{% block title %}
{{accounts[0].nym.name}} - OpenTracks
{% endblock %}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">{{accounts[0].nym.name}}</li>
	</ol>

	<h1>{{accounts[0].nym.name}}</h1>
	<div class="row">
	{% for account in accounts %}
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/account/{{account.id}}">
					{% if account.name %}
					{{account.name}}
					{% else: %}
					Empty label
					{% endif %}
				</a>

				<button class="btn btn-default btn-xs btn-refresh pull-right" data-account="{{account.id}}" title="Refresh">
					<i class="fa fa-refresh"></i>
				</button>
			</div>
			<div class="panel-body">
				<p><b>Asset:</b> {{account.asset.name}}</p>
				<p><b>Server:</b> {{account.server.name}}</p>
			</div>
			<div class="panel-footer clearfix">
				<div class="pull-right">
					{{account.formattedBalance}}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	</div>
{% endblock %}