<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>

  <link href='{{ url_for('static', filename='css/bootstrap.css') }}' rel='stylesheet' type='text/css'>
  <link href='{{ url_for('static', filename='css/font-awesome.min.css') }}' rel='stylesheet' type='text/css'>
  <link href='{{ url_for('static', filename='css/main.css') }}' rel='stylesheet' type='text/css'>
</head>

<body>    
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Open Tracks</a>
        </div>
    </div>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.json-2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.zclip.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>